apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx
  labels:
    app: nginx
spec:
  replicas: 1
  selector:
    matchLabels:
      app: nginx
  template:
    metadata:
      labels:
        app: nginx
    spec:
      containers:
        - name: test1
          image: nginx:stable
          ports:
            - containerPort: 7777

        - name: test2
          image: nginx:stable
          ports:
            - containerPort: 7776