apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx
spec:
  replicas: 1
  selector:
    matchLabels:
      app: nginx
  template:
    metadata:
      labels:
        app: nginx
    spec:
      initContainers:
      - name: copy-html
        image: alpine/git
        command: ["/bin/sh", "-c"]
        args:
          - |
            if [ ! -f /usr/share/nginx/html/.initialized ]; then
              echo "Copying website content from GitHub..."
              git clone https://github.com/marc-hendrik-sieverding/argocd-test.git /tmp/repo
              cp -r /tmp/repo/website/* /usr/share/nginx/html/
              touch /usr/share/nginx/html/.initialized
            else
              echo "Website already initialized, skipping copy."
            fi
        volumeMounts:
        - name: html-volume
          mountPath: /usr/share/nginx/html

      containers:
      - name: nginx
        image: nginx:latest
        ports:
        - containerPort: 80
        volumeMounts:
        - name: html-volume
          mountPath: /usr/share/nginx/html

      volumes:
      - name: html-volume
        persistentVolumeClaim:
          claimName: nginx-html-pvc
